body {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

@media (min-width: 1900px) {
    .main {
        height: 300px;
        position: absolute;
        top: 17em;
        bottom: 0;
        left: 27em;
        right: 0;
        width: auto;
        padding: 0px 0px 0px 0px;
    }
    .main img {
        float: left;
        width: 300px;
        height: 300px;
    }
    .main h1 {
        font-size: 7em;
        position: relative;
        left: 12px;
        top: 0.1em;
        font-weight: lighter;
    }
    .info {
        color: #187ecc;
        height: auto;
        position: absolute;
        bottom: 1%;
        left: 31em;
        padding: 0px 0px 0px 0px;
        font-size: 1.5em;
    }
    .connectionError {
        color: #d31212;
        height: auto;
        position: absolute;
        bottom: 9.5em;
        left: 19em;
        width: auto;
        padding: 0px 0px 0px 0px;
        font-size: 2em;
    }
    .loadingMsg {
        color: #187ecc;
        height: auto;
        position: absolute;
        bottom: 16em;
        left: 23.5em;
        width: auto;
        padding: 0px 0px 0px 0px;
        font-size: 2em;
    }
    .preloader {
        color: #187ecc;
        height: auto;
        position: absolute;
        bottom: 20em;
        left: 58em;
        width: auto;
        padding: 0px 0px 0px 0px;
    }
}

@media (max-width: 1000px) {
    .main {
        height: 300px;
        position: absolute;
        top: 17em;
        bottom: 0;
        left: 12em;
        right: 0;
        width: auto;
        padding: 0px 0px 0px 0px;
    }
    .main img {
        float: left;
        width: 300px;
        height: 300px;
    }
    .main h1 {
        font-size: 7em;
        position: relative;
        left: 12px;
        top: 0.1em;
        font-weight: lighter;
    }
    .info {
        color: #187ecc;
        height: auto;
        position: absolute;
        bottom: 1%;
        left: 21em;
        padding: 0px 0px 0px 0px;
        font-size: 1.5em;
    }
    .connectionError {
        color: #d31212;
        height: auto;
        position: absolute;
        bottom: 9.5em;
        left: 19em;
        width: auto;
        padding: 0px 0px 0px 0px;
        font-size: 2em;
    }
    .loadingMsg {
        color: #187ecc;
        height: auto;
        position: absolute;
        bottom: 10.5em;
        left: 16em;
        width: auto;
        padding: 0px 0px 0px 0px;
        font-size: 2em;
    }
    .preloader {
        color: #187ecc;
        height: auto;
        position: absolute;
        bottom: 11em;
        left: 45em;
        width: auto;
        padding: 0px 0px 0px 0px;
    }
}

/**
* preloader
*/



.lds-roller {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #187ecc;
    margin: -3px 0 0 -3px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}